.random{
    width: 100%;
    height: 100vh;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img{
        width: 250px;
        border: 1px solid #ccc;
        transition: all 0.4s ease;
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
        }
    }

    &-grid{
    &-controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
     transition: all 1s ease;
    button{
        margin-top: 15px;
        padding: 10px;
        border: 1px solid #ccc;
        outline: none;
        cursor: pointer;
        background-color: #000;
        color: white;
        font-size: 18px;
        border-radius: 10px;

        &:hover{
transform: scale(1.1);
color: #000;
background-color: white;
        }
        
    }
    
    }
    &-instructions{
        text-align: center;
        padding: 10px;
        p{
            font-size: 18px;
        }
    }
    }
}